
services:
  lab03:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    restart: always

    develop:
      watch:
        - action: sync
          path: . 
          target: /app
        - action: rebuild
          path: package.json 
volumes:
  lab-03-ajax-nodejs: