body {
    background-color: black;
    color: white;
}

button {
    background-color: gray;
    color: white;
    width: 100px;
    height: 30px;
}

button#bForDays {
    height: 60px;
}

table {
    border: 2px solid;
    border-color: white;
}

p#count {
    display :none;
}
